html, body {
  height: 100%;
  margin: 0;
}
body {
  cursor: default;
  font: 12px Arial, Verdana, DejaVu Sans, sans-serif;
  -webkit-perspective: 1500px;
}
.editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  box-shadow: 0 0 0 1px #888;
  min-width: 960px;
  min-height: 600px;
}
.player {
  position: relative;
  margin: 0 auto;
  top: 200px;
  width: 482px;
  height: 400px;
  background: #fff;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.player .project-name,
.player .project-author {
  display: none;
}
.flip,
.flip-back {
  position: absolute;
  top: 33px;
  right: 5px;
  height: 22px;
  font: inherit;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0 7px 0 5px;
  border: 0;
  border-radius: 4px;
  background: #179fd7;
  z-index: 1;
}
.flip i,
.flip-back i {
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 23px;
  position: relative;
  top: -1px;
  margin: 0 3px 0 0;
  background: url(assets.png) -86px 0;
}
.flip-back {
  top: auto;
  right: 5px;
  bottom: 5px;
  z-index: 0;
}
button {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;
  background: #9c9ea2;
  padding: 0 0 0 13px;
}
.top-button {
  vertical-align: middle;
  border: 0;
  background: 0;
  font: inherit;
  font-weight: bold;
  color: #fff;
  margin: 0 12px 0 0;
  height: 28px;
  padding: 0 3px;
}
.top-button:hover {
  color: #fba939;
}
.top-button.language {
  width: 19px;
  height: 19px;
  border-width: 4px 0 5px;
  background: url(assets.png) -67px 0;
}
.top-button.language:hover {
  background-position: -67px -19px;
}
.arrow {
  vertical-align: middle;
  margin: -2px 0 0 3px;
}
.arrow.hovered,
.top-button:hover .arrow.normal {
  display: none
}
.top-button:hover .arrow.hovered {
  display: inline-block;
}
.stage-panel {
  position: absolute;
  top: 33px;
  left: 5px;
  width: 482px;
}
.player .stage-panel {
  top: 0;
  left: 0;
}
.title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #d0d1d2;
  border-radius: 7px 7px 0 0;
  height: 37px;
  line-height: 37px;
  background: linear-gradient(#ffffff, #e6e8e8);
}
.title-button {
  vertical-align: middle;
  background: url(assets.png);
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
}
.title-button.full-screen {
  width: 25px;
  height: 20px;
  margin: 8px 6px 9px 10px;
  float: left;
}
.title-button.stop {
  background-position: -46px 0;
  width: 21px;
  height: 21px;
  margin: 9px 6px 7px;
}
.title-button.stop:hover,
.stopped .title-button.stop {
  background-position: -46px -21px;
}
.title-button.run {
  background-position: -26px 0;
  width: 20px;
  height: 21px;
  margin: 8px 6px 8px 14px;
}
.title-button.run:hover,
.running .title-button.run {
  background-position: -26px -21px;
}
.version {
  position: absolute;
  top: 29px;
  left: 10px;
  width: 25px;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  color: #909090;
}
.project-name {
  position: absolute;
  top: 2px;
  left: 50px;
  width: 350px;
  margin: 0;
  outline: 0;
  font: inherit;
  font-size: 13px;
  height: 19px;
  line-height: 19px;
  padding: 0 3px;
  border: 0;
  border-radius: 3px;
  color: #5c5d5f;
  box-shadow:
    0 -1px rgb(124, 126, 128),
    -1px 0 rgb(124, 126, 128),
    0 0 0 1px rgb(199, 200, 202),
    inset 1px 1px 1px -1px rgba(0, 0, 0, .5);
}
.project-author {
  position: absolute;
  top: 24px;
  left: 54px;
  line-height: 12px;
  color: #5c5d5f;
}
.stage {
  position: absolute;
  top: 39px;
  left: 0;
  width: 480px;
  height: 360px;
  border: 1px solid #d0d1d2;
  border-top: 0;
  background: #fff;
}
.sprite-panel {
  position: absolute;
  top: 451px;
  left: 5px;
  bottom: 0;
  width: 483px;
}
.sprite-panel .title-bar {
  position: relative;
  height: 29px;
  line-height: 29px;
  padding-left: 88px;
  color: #5c5d5f;
  font-size: 14px;
}
.new-group {
  position: absolute;
  right: 0;
  top: 0;
  left: 76px;
  border-left: 1px solid #d0d1d2;
  text-align: right;
  height: 29px;
  padding-right: 11px;
  line-height: 30px;
}
.new-button {
  width: 19px;
  height: 19px;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 2px;
  background: url(assets.png);
}
.new-library {
  background-position: -115px 0;
  margin-left: 8px;
}
.new-library:hover {
  background-position: -115px -19px;
}
.new-paint {
  background-position: -134px 0;
  top: 3px;
  margin-left: 3px;
}
.new-paint:hover {
  background-position: -134px -19px;
}
.new-import {
  background-position: -153px 0;
  margin-left: 4px;
}
.new-import:hover {
  background-position: -153px -19px;
}
.new-camera {
  background-position: -172px 0;
  top: 4px;
  margin-left: 8px;
}
.new-camera:hover {
  background-position: -172px -19px;
  width: 20px;
  margin-right: -1px;
}
.stage-section {
  position: absolute;
  top: 31px;
  left: 0;
  width: 76px;
  bottom: 0;
  border: 1px solid #d0d1d2;
  border-top: 0;
  background: #e6e8e8;
  text-align: center;
  color: #5c5d5f;
}
.sprite-icon {
  position: relative;
  display: inline-block;
  margin: 3px;
  padding: 1px;
  width: 68px;
  border-radius: 4px;
  color: #5c5d5f;
  text-align: center;
}
.for-stage {
  display: block;
}
.sprite-thumbnail {
  width: 68px;
  height: 51px;
}
.for-stage .sprite-thumbnail {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
.sprite-icon-label {
  margin-top: 5px;
  font-size: 11px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sprite-icon-info {
  margin: 1px 0 2px;
  font-size: 9px;
}
.sprite-icon.selected {
  box-shadow: 0 0 0 3px #179fd7;
  background: #d0d0d0;
}
.sprite-icon-button {
  visibility: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  background: url(assets.png) -211px 0;
}
.sprite-icon-button:hover {
  background-position: -211px -18px;
}
.sprite-icon.selected > .sprite-icon-button {
  visibility: visible;
}
.new-backdrop {
  margin-top: 11px;
  font-size: 10px;
}
.sprite-section {
  position: absolute;
  top: 31px;
  right: 0;
  left: 78px;
  bottom: 0;
  border: 1px solid #d0d1d2;
  border-top: 0;
  border-left: 0;
  padding: 1px;
}
.tab-panel {
  position: absolute;
  left: 492px;
  top: 33px;
  bottom: 22px;
  right: 22px;
}
.tab {
  display: inline-block;
  padding: 0 13px 2px 11px;
  margin: 0;
  height: 24px;
  font: inherit;
  border: 1px solid #d0d1d2;
  border-bottom: 0;
  border-radius: 7px 7px 0 0;
  background: #f2f2f2;
  box-shadow: inset 0 -3px 3px -3px #d1d2d3;
  position: relative;
  color: #8f9193;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.tab:hover,
.tab.selected {
  padding-bottom: 3px;
  color: #5c5d5f;
  background: linear-gradient(#ffffff, #e6e8e8);
  box-shadow: none;
}
.tab-panel-content {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #d0d1d2;
  background: #e6e8e8;
}
.script-editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.palette-buttons,
.palette-contents {
  position: absolute;
  left: 0;
  background: 0;
}
.palette-buttons {
  width: 202px;
  padding: 8px 7px 8px 0;
  top: 0;
  height: 98px;
}
.palette-buttons::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 11px;
  height: 1px;
  background: #bcbdbe;
  border-bottom: 1px solid #f2f2f2;
}
.palette-button {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 99px;
  height: 18px;
  padding: 0 0 0 8px;
  border: 0;
  background: 0;
  margin: 0 2px 2px 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font: inherit;
}
.palette-button div {
  border-left: 7px solid;
  padding-left: 4px;
  width: 80px;
}
.palette-button strong {
  line-height: 18px;
  font-weight: inherit;
  color: #8f9193;
}
.palette-button:hover strong {
  color: #fba939;
}
.palette-button.selected div {
  background: currentColor;
}
.palette-button.selected strong {
  color: #fff;
  font-weight: bold;
}
.palette-contents {
  width: 209px;
  top: 114px;
  bottom: 0;
}
.editor-workspace {
  position: absolute;
  top: 5px;
  left: 210px;
  right: 5px;
  bottom: 5px;
  background: rgb(221, 222, 222);
  box-shadow: 0 0 0 1px #bcbdbe;
}
